.Dashboard__navbar {
  width: 15%;
  background: var(--color-main);
  min-height: 92vh;
  max-height: 100vh;
  justify-content: space-around;
  align-items: center;
}

.Dashboard__navbar-link {
  margin: 40px 0;
  font-size: 1.3em;
  color: var(--color-third);
  padding: 20px; /* 62px */
  width: 100%;
}

.Dashboard__navbar-link:hover {
  background: var(--color-fourth);
  color: var(--color-third);
}

.Dashboard__container {
  position: absolute;
  left: 15%;
  top: 60px;
  height: calc(100% - 60px);
}

.Dashboard__icons {
  color: var(--color-fourth);
}

.Dashboard__text-container {
  justify-content: center;
  align-items: center;
  font-size: 3em;
  width: 80%;
  min-height: 80%;
  color: var(--color-text);
  margin-left: 30px;
}

/* .Dashboard_btn {
  margin: 40px 0;
} */

.Dashboard__form {
  max-width: 80%;
  margin: 10px auto;
}

.Dashboard__form-btn {
  width: 15%;
  align-self: center;
}

.Dashboard__return-btn {
  width: 7%;
  margin-top: 40px;
}

.Dashboard__grid {
  display: grid;
  border: 1px solid var(--color-main);
  border-radius: 15px;
  max-width: 80%;
  margin: 12px;
  padding: 15px;
  font-size: 1.2em;
  grid-template-columns: repeat(4, 1fr);
}