.Dashboard__navbar {
  width: 15%;
  min-height: 92vh;
  padding-top: 5%;
  align-items: center;
  position: fixed;
}

.Dashboard__navbar-link {
  margin: 40px 0;
  color: var(--color-main);
  font-size: 1.3em;
  padding: 20px; 
  width: 100%;
}

.Dashboard__navbar-link:hover {
  background: var(--color-fourth);
  color: var(--color-third);
  border-radius: 15px;
}

.Dashboard__container-parent {
  position: absolute;
  left: 15%;
  top: 70px;
  width: calc(100% - 15%);
}

.Dashboard__container {
  width: 100%;
  max-height: 80%;
  justify-content: space-between;
  align-items: center;
}

.Dashboard__container-img {
  width: 35%;
  height: 35%;
}

.Dashboard__icons {
  color: var(--color-fourth);
}

.Dashboard__text-container {
  font-size: 2.5em;
  width: 65%;
  color: var(--color-text);
  margin-left: 30px;
}

.Dashboard__form {
  max-width: 80%;
  margin: 4% auto;
}

.Dashboard__form-btn {
  width: 15%;
  align-self: center;
}

.Dashboard__return-btn {
  width: 7%;
  margin-top: 40px;
}

.Dashboard__table {
  border: 1px solid var(--color-main);
  padding: 15px;
  font-size: 1.2em;
  margin: 15px auto;
  border-radius: 15px;
}

.Dashboard__table-row:nth-child(even) {
  background: var(--color-third);
}

.Dashboard__table-cell {
  text-align: center;
  padding: 20px 50px;
}

.Dashboard__table-events {
  width: 60%;
}

.Dashboard__table-events td {
  padding: 20px 40px;
}

.Dashboard__table-region {
  width: 60%;
  font-size: 0.9em;
  border: 1px solid var(--color-main);
  padding: 10px;
  margin: 15px auto;
  border-radius: 15px;
}
