p {
    color: var(--color-text);
    line-height: 1.7rem;
}

.chart-grid {
    display: grid;
    grid-template-columns: 1.3fr 0.7fr;
    grid-template-rows: 1fr;
    gap: 10px 100px;
    grid-template-areas:
      ". .";
    margin: 5rem 0;
  }

.chart {
    min-width: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.method {
    font-size: 0.9rem;
    display: flex;
    flex-direction: column;
}