@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200;300;400;500;600;700;800&display=swap");
@import "../../node_modules/mapbox-gl/src/css/mapbox-gl.css";
@import "./Ressources.css";
@import url('https://fonts.googleapis.com/css2?family=Lato&family=Lexend:wght@100;300;400;700&display=swap'); 

@import "./Gallery.css";
@import "./About.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Lexend", sans-serif;
}

:root {
  --color-main: hsla(275, 89%, 26%, 0.918);
  --color-second: #cf173ce5;
  --color-third: #e6e6fae0;
  --color-fourth: #f17d52e1;
  --color-text: #646464;
  --color-input: #f9f5f5;
  --color-box: #e6e6fa25;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: grey;
}

ul {
  list-style-type: none;
}

.title-1 {
  border-bottom: 3px solid var(--color-main);
  padding: 15px 15px 3px;
  margin:5px;
  display: inline-block;
}

.title-2 {
  border-bottom: 3px solid var(--color-second);
  padding: 0px 15px 3px;
  margin-bottom:10px;
  display: inline-block;
}

.title-3 {
  border-bottom: 3px solid var(--color-fourth);
  padding: 15px 15px 3px;
  display: inline-block;
}

.color-1 {
  background-color: var(--color-main);
}

.color-2 {
  background-color: var(--color-second);
}

.color-3 {
  background-color: var(--color-third);
}

.color-4 {
  background-color: var(--color-fourth);
}

.btn-1 {
  text-decoration: none;
  color: white;
  font-size: larger;
  background-color: var(--color-main);
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 10px;
  border: none;
  border-radius: 15px;
}

.btn-1:hover {
  box-shadow: 5px 7px var(--color-third);
}

.btn-2 {
  text-decoration: none;
  border: none;
  color: white;
  font-size: larger;
  background-color: var(--color-second);
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 10px;
  border-radius: 15px;
}

.btn-2:hover {
  box-shadow: 5px 7px var(--color-third);
}

.btn-3 {
  text-decoration: none;
  border: none;
  color: white;
  font-size: larger;
  background-color: var(--color-fourth);
  padding: 15px;
  padding-left: 35px;
  padding-right: 35px;
  margin: 10px;
  border-radius: 15px;
}

.btn-3:hover {
  box-shadow: 5px 7px var(--color-third);
}

.form-container {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.form-label {
  font-size: larger;
  padding: 5px;
  margin: 10px;
  margin-bottom:5px;
  color:var(--color-text);
}

.form-input {
  border: none;
  background-color: var(--color-input);
  padding: 15px;
  margin: 10px;
  margin-top:5px;
  border-radius:15px;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.flex-row {
  flex-direction: row;
}

.page-container {
  margin: 4% 7% 7%;
}

